@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Raleway', sans-serif;
}

.App {
text-align: center;
border: 1px solid rgb(229, 229, 229);
  background-color: rgb(252, 233, 233);
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
h3{
  text-align: center;
}
.instructions{
  text-align: left;
}
.Counter {
background-color: black;
}